.heading {
    background-color: rgb(207, 207, 207);
    font-size: 20px;
    padding: 5px;
}

.vehicle_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add_vehicle_btn {
    width: 100%;
}

.quota {
    font-size: 20pt;
    font-weight: lighter;
}

.magnify {
    font-size: 40px;
}

.qr {
    overflow: scroll;
}

img {
    display: flex;
    margin: 5px auto;
}

.quota_details {
    padding: 20px;
    border: 1px solid rgb(207, 207, 207);
}